.list-Editor {
  float:left;
  width:95%;
}
.list-Editor table thead{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f0f8ff;
}
.list-Editor table thead th {
  border: 1px solid #dbdbdb;
}
.list-Editor table tr {
  height:40px;
}
.list-Editor table tr td,
.list-Editor table tr th {
  vertical-align: middle;
}

.list-Editor td._is-selected {
  border: solid 2px #1d92f9;
}

.list-Editor td._is-selected input,
.list-Editor td._is-selected select{
  border: 0;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}
.list-Editor td._is-selected textarea {
  border: 0;
  outline-style: none;
  box-shadow: none;
  border-style: none;
  border-color: Transparent;
  overflow: auto;
}