/* frame set */
.nav-bar {
  height: 7vh;
  overflow: hidden;
  background-color: #333;
  z-index: 10;
  position: relative;
}
.nav-bar .nav-bar-left {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.nav-bar .nav-bar-center {
  position: absolute;
  top: 50%;
  left: 10%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: chocolate;
}
.nav-bar .nav-bar-right {
  position: absolute;
  top: 50%;
  right: 0%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


