/* frame set */
.nav-bar-fixed {
  overflow: hidden;
  z-index: 20;
  position: fixed;
  top: 0px;
  right:0px;
  background-color: #fff;
}
.nav-bar-animate {
  transition: margin-top .5s;
}
.nav-bar-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 4px -1px,
    rgba(0, 0, 0, 0.3) 0px 4px 4px -1px;
  /* box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 10px -10px; */
}