/* frame set */
.nav-bar-fixed {
  overflow: hidden;
  z-index: 20;
  position: fixed;
  top: 0px;
  right:0px;
  background-color: #fff;
}
.nav-bar-animate {
  transition: margin-top .5s;
}